@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.animated-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #00FFFF, #40E0D0, #00FFFF,#87CEEB,#ADD8E6,#AFEEEE,#87CEFA,#CCCCFF,#E6E6FA,#DDA0DD,#FFC0CB,#FF69B4,#FF1493,#FF0066);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.links {
    margin-top: 20px;
    user-select: none;
}

.links a {
    color: white;
    font-size: 32px;
    text-decoration: none;
    margin: 0 10px;
    user-select: none;
}

.links a:hover {
    color: #555555;
    user-select: none;
    transition: 0.5s;
}

.fa {
    font-family: "Font Awesome 5 Free";
}

h1 {
    color: white;
    font-size: 60px;
    user-select: none;
}


.d-trigger {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: text-shadow 1s;
  }

.d-trigger:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
    transform: scale(1.1);
  }

h2 {
    color: white;
    font-size: 20px;
    user-select: none;
}


