@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.animated-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #00FFFF, #40E0D0, #00FFFF,#87CEEB,#ADD8E6,#AFEEEE,#87CEFA,#CCCCFF,#E6E6FA,#DDA0DD,#FFC0CB,#FF69B4,#FF1493,#FF0066);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.links {
    margin-top: 20px;
    user-select: none;
}

.links a {
    color: white;
    font-size: 32px;
    text-decoration: none;
    margin: 0 10px;
    user-select: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    animation: text-shadow 20s linear infinite;
}

.links a:hover {
    opacity: 75%;
    user-select: none;
    transition: 0.1ms;
    color: rgba(44, 39, 39, 0.68);
    border-radius: 5px;
    padding: 5px;
}

.fa {
    font-family: "Font Awesome 5 Free";
}

h1 {
    color: white;
    font-size: 60px;
    user-select: none;
    display: block;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    animation: text-shadow 20s linear infinite;
}

h1:hover {
    border-radius: 10px;
    padding: 5px;
    user-select: none;
    transition: 0.1ms;
    color: rgb(248, 248, 248);

}

h2 {
    color: white;
    font-size: 20px;
    user-select: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    animation: text-shadow 20s linear infinite;
}

@media (min-width: 768px) {
    h1 {
        font-size: 80px;
        display: block;
        margin: 0 auto;
    }
    h2 {
        font-size: 30px;
    }
    .links a {
        font-size: 48px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 35px;
        display: block;
        margin: 0 auto;
    }
    h2 {
        font-size: 15px;
    }
    .links a {
        font-size: 32px;
    }
}

@keyframes text-shadow {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0); /* No text shadow */
    }
    50% {
        text-shadow: 2px 2px 4px rgba(40, 38, 38, 0.65); /* Text shadow at 50% */
    }
    100% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0); /* No text shadow */
    }
}